Several examples on how to use regex on text fields

In [2]:
import pandas as pd

df = pd.read_csv('./happiness-report.csv')

In [3]:
#check the data
df.head()

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [4]:
# Match and extract first lowercase letter after first occurence of 'e'.

df['letter_after_first_e']=df['Country (region)'].str.extract(r'(e[a-z]{1})')

df.head()

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,letter_after_first_e
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,NaN
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,en
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,NaN
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,el
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,et

In [5]:
# Let's see countries that start with 'F'

df[df['Country (region)'].str.count(r'(^F.*)')==1]

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,letter_after_first_e
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,NaN
23,France,24,19,56.0,66.0,32.0,69.0,21.0,68.0,25.0,5.0,NaN

In [6]:
# Or let's simply see how many of those countries we have in the report

df['Country (region)'].str.count(r'(^F.*)').sum()

2

In [7]:
# Here we look at countries starting with 'R' using match - which returns a boolen

df[df['Country (region)'].str.match('^R.*')== True]

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,letter_after_first_e
47,Romania,48,75,80.0,62.0,86.0,57.0,146.0,102.0,48.0,61.0,NaN
67,Russia,68,64,96.0,9.0,40.0,107.0,127.0,101.0,45.0,89.0,NaN
151,Rwanda,152,63,54.0,102.0,144.0,21.0,2.0,90.0,132.0,103.0,NaN

In [15]:
# Let's find all records where there's an i in the middle

df[df['Country (region)'].str.contains('^.i.*')==True]

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,letter_after_first_e
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,NaN
33,Singapore,34,5,38.0,2.0,36.0,20.0,1.0,21.0,3.0,1.0,NaN
41,Lithuania,42,55,138.0,41.0,17.0,122.0,113.0,124.0,36.0,62.0,NaN
44,Nicaragua,45,133,31.0,125.0,66.0,70.0,43.0,71.0,108.0,53.0,NaN
71,Libya,72,115,85.0,137.0,73.0,79.0,31.0,87.0,63.0,96.0,NaN
84,Nigeria,85,130,61.0,55.0,111.0,75.0,114.0,59.0,107.0,145.0,er
93,Vietnam,94,27,121.0,27.0,64.0,23.0,86.0,97.0,105.0,49.0,et
113,Niger,114,144,79.0,141.0,140.0,111.0,51.0,135.0,148.0,138.0,er
128,Sierra Leone,129,153,139.0,149.0,135.0,116.0,112.0,79.0,145.0,146.0,er
140,Liberia,141,156,103.0,146.0,127.0,94.0,126.0,110.0,150.0,126.0,er
145,Zimbabwe,146,123,63.0,34.0,110.0,96.0,63.0,141.0,131.0,129.0,NaN