In [1]:
import pandas as pd

df = pd.read_csv('./happiness-report.csv')

In [2]:
#check the data
df.head()

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0

In [3]:
# Match first lowercase letter after first occurence of 'e'.

df['letter_after_first_e']=df['Country (region)'].str.extract(r'(e[a-z]{1})')

df.head()

,Country (region),Ladder,SD of Ladder,Positive affect,Negative affect,Social support,Freedom,Corruption,Generosity,Log of GDP\nper capita,Healthy life\nexpectancy,letter_after_first_e
0,Finland,1,4,41.0,10.0,2.0,5.0,4.0,47.0,22.0,27.0,NaN
1,Denmark,2,13,24.0,26.0,4.0,6.0,3.0,22.0,14.0,23.0,en
2,Norway,3,8,16.0,29.0,3.0,3.0,8.0,11.0,7.0,12.0,NaN
3,Iceland,4,9,3.0,3.0,1.0,7.0,45.0,3.0,15.0,13.0,el
4,Netherlands,5,1,12.0,25.0,15.0,19.0,12.0,7.0,12.0,18.0,et